
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout2</title>
</head>
<body>
    <header> 
        <h1 style="color: red">This is the second layout header</h1>
    </header>
    
    @RenderBody()

    <footer>
        <h5 style="color: green">Secondary footer</h5>
    </footer>
</body>
</html>
