
@{
    ViewBag.Title = "Index";
}

@section Header{
<h1>The Header is.</h1>
    <h2>Index</h2>
}

<article>
    <p>The is the first paragraph </p>
    <p></p>
</article>

@section Footer{
Footer specific to this page
}
