@model SocialSiteV3.Models.GalleryViewModel

@{
    ViewBag.Title = @Model.Name + "'s Gallery";
}

<div class="gallery">
    <article>
        <p>@(Model.Name)'s Gallery</p>
        <div>
            @foreach(var img in Model.Images)
            {
                @Html.Partial("_GalleryImage", img)
            }
        </div>
    </article>
</div>