
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Membership index</h1>
        <h1>You wish you could log in!</h1>
    </div>
</body>
</html>
