<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - bSocial</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/SiteDark.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header class="site-header"><img class="logo-img" src="/Content/Images/bee.jpg" /><div class="header-text">bSocial!</div></header>
    <nav><a class="btn" href="/">Home</a><a class="btn" href="/Profile/Gallery">Gallery</a><a class="btn" href="/Profile">Profile</a></nav>

    @RenderBody()
    <footer class="site-footer"><div class="footer-text">Web Site by, Blake Rollins</div></footer>
</body>
</html>