
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <a href="~/Quiz?quizType=car">Car</a>
    </div>
    <div>
        <a href="~/Quiz?quizType=unicycle">Unicycle</a>
    </div>
</body>
</html>
