@model ScratchMVC5.Models.Quiz

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Quiz</title>
</head>
<body>
    <div> I @Model.Verb the @Model.Noun
    </div>
</body>
</html>
