@model DataPersistence2.Product

<div class="product">
    <img src="~//Content//Images//default.png" /> <br />
    <div class="product-name">
        @Html.DisplayFor(model => model.Id): @Html.DisplayFor(model => model.Name)<br />
        @Html.DisplayFor(model => model.Price)<br />
        @Html.DisplayFor(model => model.Description)<br />
    </div>
</div>
