
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div><a href="/">www.cows.com</a> should map to the homepage.</div>
    <div><a href="/8">www.cows.com/8</a> maps to a page that says “The cow Default Cow moos at you 8 times.” However the 8 is arbitrary, and can be any number.<a href="/3">/3</a> <a href="/10">/10</a></div>
    <div><a href="/Moo">www.cows.com/Moo</a> maps to the “About Us” page.</div>
    <div><a href="/EatMoreChicken">www.cows.com/EatMoreChicken</a> should map to Chick-fill-a’s website.</div>
    <div><a href="/Betsy/Gallery">www.cows.com/Betsy/Gallery</a> maps to information about Betsy alone. Betsy is arbitrary and could be any cow name. <a href="/Frank/Gallery">/Frank/Gallery</a> <a href="/Sam/Gallery">/Sam/Gallery</a></div>
    <div><a href="/20/Betsy">www.cows.com/20/Betsy</a> maps to a page that says “The cow Betsy moos at you 20 times.” However the 20 is arbitrary, and can be any number. The cow’s name is also arbitrary. <a href="/20/Harry">/20/Harry</a> <a href="/20/Sally">/20/Sally</a></div>
    <div><a href="/AllCows/Gallery">www.cows.com/AllCows/Gallery</a> maps to information about all the cows featured on our website.</div>
    <div><a href="/AllCows/Gallery/5">www.cows.com/AllCows/Gallery/5</a> maps to information about all the cows featured on our website, 5 per page. The 5 is arbitrary. <a href="/AllCows/Gallery/9">/AllCows/Gallery/9</a> <a href="/AllCows/Gallery/87">/AllCows/Gallery/87</a></div>
    <div><a href="/AllCows/Gallery/5/Page5">www.cows.com/AllCows/Gallery/5/Page5</a> maps to information about all the cows featured on our website, 5 per page, page 5. Both values of 5 are arbitrary. <a href="/AllCows/Gallery/6/Page6">/AllCows/Gallery/6/Page6</a> <a href="/AllCows/Gallery/9/Page9">/AllCows/Gallery/9/Page9</a></div>
    <div><a href="/AllCows/Gallery/5/6">www.cows.com/AllCows/Gallery/5/6</a> maps to information about all the cows featured on our website, 5 per page, page 6. Both of the values 5 and 6 are arbitrary.<a href="/AllCows/Gallery/6/6">/AllCows/Gallery/6/6</a> <a href="/AllCows/Gallery/9/9">/AllCows/Gallery/9/9</a></div>
    <div><a href="/AllCows/Gallery/Page5">www.cows.com/AllCows/Gallery/Page5</a> maps to information about all the cows featured on our website, 5 per page, page 5. The page number is arbitrary. <a href="/AllCows/Gallery/Page12">/AllCows/Gallery/Page12</a> <a href="/AllCows/Gallery/Page2">/AllCows/Gallery/Page2</a></div>
    <div><a href="/Moo8">www.cows.com/Moo8</a> maps to a page that says “moo” 8 times, however, the 8 is arbitrary. <a href="/Moo3">/Moo3</a> <a href="/Moo10">/Moo10</a></div>

</body>
</html>
