@model _3_Routing.Models.CowViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Moo</title>
</head>
<body>
    <div>The cow @Model.Name moos at you @Model.NumberOfMoos times.
    </div>
</body>
</html>
